
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



:root{
    --color-title : #EDF2FF;
    --color-text : #ADB5BD;
    --backgroundcolor-button:#4C6EF5;
    --backgroundcolor-primary:#191C1F;
    --backgroundcolor-secondary:#212529;
    
}
body{
    background-color: var(--backgroundcolor-secondary);
    color: var(--color-title);
    font-family:"Inter",sans-serif;
    font-size: clamp(1rem, 0.821rem + 0.476vw, 1.25rem);
    font-weight: 400;
    
    }
    
    #cabecalho{
       
        width: 100%;
        height:6.25rem;
        
        position: fixed;
        z-index: 1;
        
        background-color: var(--backgroundcolor-primary);
        border-bottom: 2px solid var(--backgroundcolor-button);
    }
    
    #cabecalho__itens{
        display: flex;
        align-items: center;
        justify-content: space-around;

        height: 100%;
    }
    
    #cabecalho__itens img{
        width: 12.5rem;
        height: 1.313rem;
    }
    
    #cabecalho__itens button{
        width: 16.625rem;
        height: 3.75rem;
        padding: 1.25rem 2rem 1.25rem 2rem;
        border: 0.0625rem solid var(--color-title);
        
        
        background-color: var(--backgroundcolor-primary);
        color: var(--color-title);
        cursor:pointer ;
    }


    /* O cabeçalho terminou está pronto */

    #container__banner__institution{
        width: 100%;
        height: 48.813rem;
        
    }

    #banner__institution{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        text-align: center;
        gap: 2.75rem;
        height: 100%;
    }

    #banner__institution h1{
        font-size:3.25rem;
        font-weight: 600;
    }

    #banner__institution h1 span{
        color:var(--backgroundcolor-button);
    }

    #banner__institution p{
        text-align:center;
        max-width: 48.125rem;
        width: 100%;
        color: var(--color-text);
        line-height: 25px;
    }
    
    #banner__institution button{
        
        width: 8.875rem;
        height: 3.75rem;
        
        text-align: center;
        color: var(--color-title);
        background-color: var(--backgroundcolor-button);
        border:0.0625rem solid var(--backgroundcolor-button);
        cursor:pointer;
    }
    
    /* A parte do banner termina aqui */
    
    #container__about__us{
        width:100%;
        height:17.75rem;
        
        background-color: var(--backgroundcolor-primary);
    }
    
    #about__us{
        width: 100%;
        height: 100%;
        
        
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    }
    
    #about__us h2{
        
        font-size: clamp(1rem, -0.071rem + 2.857vw, 2.5rem);
        font-weight: 600;
        
        width: 38.75rem;
    }
    
    #about__us p {
        width: 36.25rem;
        height: 7.5rem;
        text-align: justify;
        line-height: 25px;
    
        
    }
    
    /* A parte do about__us termina aqui */
    
    
    #container__FAQ{
        width: 100%;
        height: 64rem;
        
    }
    
    #FAQ__information{
        width:100%;
        
        display: flex;
        justify-content: space-around;
        
    }
    
    #container__frequently__questions{
        max-width: 38.75rem ;
        width: 100%;
        max-height: 17.5rem; 
        height: 100%;
        padding: 3.75rem  0 2.5rem 0 ;
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        position: sticky;
        top: 12.5rem;
        
    }
    
    #frequently__questions{
        width: 100%;
        height: 100%;
        
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2.5rem;
        
    }
    #frequently__questions h2{
        width: 33.313rem;
        
        font-weight: 600;
        font-size: clamp(1rem, -0.071rem + 2.857vw, 2.5rem)
    }
    
    #frequently__questions p{
        text-align:justify;
        color: var(--color-text);
        
        max-width:33.313rem;
        width: 100%;
        line-height: 25px;
    }
    
    #button__cadastrar{
        width: 16.625rem;
        height: 3.75rem;
        
        background-color: var(--backgroundcolor-button);
        color: var(--color-title);
        
        text-align: center;
        border: 1px solid var(--backgroundcolor-button);
        cursor: pointer;
    }
    
    /* A parte do left side questions termina aqui */
    
    #container__list__doubts{
        width: 36.438rem;
        height: 60.5rem;
        
        
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        
    }
    
    .list__doubts{
        width: 100%;
        height: 7.5rem;
        
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
        
    }
    
    .list__doubts h3{
        font-size: clamp(1rem, 0.286rem + 1.905vw, 2rem);;
        font-weight: 600;
        text-align: center;
        
    }
    
    .list__doubts p{
        text-align:justify;
        color: var(--color-text);
        line-height: 25px;
        
    }
    
    /* A parte do right side questions termina aqui */
    
    #container__comments{
        width:100%;
        height: 70.5rem;
        padding:82px 0 82px 0 ;
    }
    
    #comments__students{
        width: 100%;
        height: 100%;
        
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        
        
    }
    
    #container__students__information{
        width: 36.25rem;
        max-height: 25rem ;
        height: 100%;

        position: sticky;
        top: 12.5rem;
        background-color: var(--backgroundcolor-button);
    }
    
    #students__information{
        display: flex;
        flex-direction: column;
        gap:2.5rem;
        text-align: justify;
        padding: 5rem 3.25rem 5rem 3.25rem;
        line-height: 25px;
        
    }
    
    #students__information h2 {
        font-size:clamp(1rem, -0.071rem + 2.857vw, 2.5rem) ;
        
        font-weight: 600;
        line-height: clamp(1rem, -1.143rem + 5.714vw, 4rem);
        text-align: start;
        
    }
    
    
    #container__about__students{
        display: flex;
        flex-direction: column;
        gap: 82px;
        text-align: justify;
        
        max-width:38.75rem;
        width: 100%;
        
    }
    
    .about__students{
        display: flex;
        
        max-height: 9.438rem;
        height: 100%;
        
        color: var(--color-text);
    }

    .about__students p{
        line-height: 25px;
    }
    
    .name__students{
        display: flex;
        flex-direction: column;
        width:clamp(1rem, -62.571rem + 169.524vw, 90rem);
        gap: 1rem;
        text-align: left;
    }
    
    .name__students h3 {
        color: var(--color-title);
    font-weight: 600;
    font-size: clamp(1rem, 0.286rem + 1.905vw, 2rem)
}

footer{
    
    width: 100%;
    height: clamp(1rem, -2.839rem + 10.238vw, 6.375rem)6.375rem;
    padding: 3.125rem 0 3.125rem 0;
    background-color: var(--backgroundcolor-primary);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

dialog::backdrop{
    background-color: #191C1FCC;
}

dialog{
    max-width: 34.625rem;
    width: 100%;
    max-height: 26rem;
    height: 100%;
    padding: 2.5rem 1.75rem 2.5rem 1.75rem;
    background-color: var(--backgroundcolor-secondary);
    border:2px solid var(--backgroundcolor-button)
    
}

#modal__cadastro{
    width: 100%;
    height: 100%;
    
    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    background-color: var(--backgroundcolor-secondary);
    
    
}

#container__headerModal{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#container__headerModal h3 {
    font-weight: 600;
    font-size: 2rem;
    color: var(--color-title);
}

#remover__modal{
    max-width:2.375rem;
    width: 100%;
    max-height: 2rem;
    height: 100%;

    background-color:#343A40;
    
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

#remover__modal img{
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color:#EDF2FF;
}

#modal__cadastro p{
    color: var(--color-text);
    text-align:justify;
    width: 30.5rem;
}

#modal__cadastro input {
    width: 28rem;
    height: 3.625rem;
    padding: 0 1.25rem 0 1.25rem;
    
    background-color: var(--backgroundcolor-primary);
    color: var(--backgroundcolor-secondary);
    font-size: 1.25rem ;
    border: none;
}

#button__entrar{

    width: 30.5rem;
    height: 3.625rem;
    padding: 0 1.25rem 0 1.25rem;

    background-color: var(--backgroundcolor-button);
    color: var(--color-title);
    border: none;

    cursor: pointer;
}






