@media(max-width:1024px){
    #about__us h2{
       width: 25rem;
    }
    #about__us p {
        width: 25rem;
    }

    #container__comments{
        width: 100%;
        height: 70.688rem;

    }

    #container__frequently__questions{
        width: 25rem;
    }

    #container__list__doubts{
        width: 25rem;
    }
    .list__doubts{
        
        display: flex;
        align-items: center;
    }
    
    #container__students__information {
        width: 25rem;
    }

    #container__about__students {
        width: 25rem;
    }

    .about__students{
        width: 100%;
        gap: 20px;
        flex-wrap: wrap;
    }

    .name__students{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:3.125rem
    }

    dialog{
        max-width: 30rem;
        width: 100%;
        height: 20rem;
    }

}
