@media(max-width:426px){
    #cabecalho{
        height: 4rem;
        position: absolute;
    }
    
    #cabecalho__itens{
        display: flex;
        justify-content: start
    }
    
    #button__cadastrarHeader{
        display: none;
    }

    #banner__institution h1{
        font-size: 2.7rem;
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #container__FAQ{
        height:72rem;

    }

    #frequently__questions h2 {
        width: 100%;
    }

    #container__list__doubts {
        width: 95%;
        gap: 6.25rem;
        margin-top: 2.5rem;
    
    }

    .list__doubts h3{
        font-size: 1.5rem;
    }

    #container__comments{
        height:100rem;
    }
    #comments__students{
        margin-top: 0;

    }
    #container__students__information {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 92%;
        margin: 0 0 0 1rem  ;
        
    }

    #students__information h2{
        font-size: 1.25rem;
        line-height: 25px;
    }

    .about__students{
        width: 95%;
    }

    dialog{
        width: 80%;
        height: 100%;

    }
    #modal__cadastro{
        width: 100%;
    }

    #modal__cadastro p{
        width: 100%;
        line-height: 25px;
    }

    #modal__cadastro input {
        width: 88%;
    }

    #button__entrar{
        width: 100%;
    }

}